
<% include ../layout_elements/header.ejs %>

<div class="qa-add">
  <form action="/question/add" method="post" enctype="application/x-www-form-urlencoded">
    <input type="hidden" name="_csrf" value="<%= _csrf %>" />
    <div class="mb-20">
      <%= __('User') %>
      <br />
      <input type="text" name="user" required minlength="3" />
    </div>
    <div class="mb-20">
      <%= __('Title') %>
      <br />
      <input type="text" name="title" required minlength="3" />
    </div>
    <div class="mb-20">
      <%= __('Description') %>
      <br />
      <textarea name="description" required minlength="3"></textarea>
    </div>
    <input type="submit" value="<%= __('Add new') %>">
  </form>
</div>

<% include ../layout_elements/footer.ejs %>
